# Telegram Bot Token from @BotFather
TELEGRAM_BOT_TOKEN=8586119789:AAHyFEdgnYe86kjgzBgGgQbaEr6pog8pzGs

# Google Gemini API Key
GOOGLE_API_KEY=AIzaSyCNL15MhyDUqVA9cQMO3S1U7IV_ZLTHc38

# Google Sheet Web App URL for logging orders
GOOGLE_SHEET_URL=https://script.google.com/macros/s/AKfycbwdRqnwnDwhSXnGOc7fXgrB96Iiq6JumRfrxwZ2GCuRoqWp6V7OHBe3zpm6iUBU9RZLHg/exec
